.parent-wrapper {
  margin-left: 20px;
}
.parent-wrapper .children h4 {
  margin-bottom: -10px;
}
input {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 10px;
}
pre {
  background-color: lightgreen;
}
.count {
  margin-top: 10px;
  margin-bottom: 10px;
}
